<div class="modal" id="add-opportunites-mobile-fodal" ng-controller="ModalsAddOpportunitiesCtrl as vm">
  <div class="modal-dialog row">
    <header>
      <h2 class="header-title">Import from CSV</h2>
      <button class="close-button" type="button"><span aria-hidden="true">&times;</span></button>
    </header>

    <div class="modal-content opportunities-modal-content">
      <section class="add-event-container add-opportunities-mobile">
        <h1 class="title">Sorry!</h1>
        <p class="description">This feature is only available on desktop.</p>
        <button ng-click="vm.closeModal()" class="button">RETURN TO DASHBOARD</button>
      </section>
    </div>
  </div>
</div>
