<div class="modal" id="add-collaborator-modal" ng-controller="ModalsAddCollaboratorCtrl">
  <div class="modal-dialog">
    <header>
      <h4>{{'add-collaborator.title'|translate}}</h4>
      <button class="close-button" type="button"><span aria-hidden="true">&times;</span></button>
    </header>
    <section>
      <form name="addCollaboratorForm" ng-submit="submitCollaborator()" role="form" novalidate>
        <div class="ac-form" ng-class="{error: collab_name_req}">
          <label for="collaborator-name">{{'add-collaborator.name'|translate}}</label>
          <input id="collaborator-name" name="collaborator-name" ng-model="collaborator.name" ng-change="hasClientValidationErrors()" type="text" class="input-sm" placeholder="{{'add-collaborator.name-placeholder'|translate}}" required/>
          <span ng-show="collab_name_req" class='error-message'>{{'add-collaborator.error.no-name'|translate}}</span>
        </div>
        <div class="ac-form" ng-class="{error: collab_email_req || collab_email_invalid}">
          <label for="collaborator-email">{{'add-collaborator.email'|translate}}</label>
          <input id="collaborator-email" name="collaborator-email" ng-model="collaborator.email" ng-change="hasClientValidationErrors()" type="text" class="input-sm" placeholder="{{'add-collaborator.email-placeholder'|translate}}" required/>
          <span ng-show="collab_email_req" class='error-message'>{{'add-collaborator.error.no-email'|translate}}</span>
          <span ng-show="collab_email_invalid" class='error-message'>{{'add-collaborator.error.invalid-email'|translate}}</span>
        </div>
        <button ng-hide="changed_successfully || trying_to_send" class="button submit expanded">{{'add-collaborator.send'|translate}}</button>
        <button ng-show="trying_to_send" class="button submit expanded" disabled>{{'add-collaborator.sending'|translate}}</button>
        <button ng-show="changed_successfully" class="button submit expanded"><i class="fa fa-check"></i></button>
      </form>
      <p class="subtext">Want to see what your collaborators will get sent before you click <strong>SEND EMAIL</strong>? Check it out <a href="#/help_library/collaborators" target="_blank">here</a>.</p>
    </section>
  </div>
</div>
