<div class="modal" id="user_agreement_modal">
  <div class="modal-dialog">
    <header>
      <h4>{{'user_agreement.title'|translate}}</h4>
      <button class="close-button" type="button"><span aria-hidden="true">&times;</span></button>
    </header>
    <section>
      <div class="row">
        <div class="columns medium-12">
          <p>{{'tos.intro'|translate}}</p>
          <p><span class="bold">{{'tos.arbitration-notice'|translate}}</p>

          <p><span class="bold">{{'tos.agreement.title'|translate}}</span><br>{{'tos.agreement.text'|translate}}</p>

          <p><span class="bold">{{'tos.privacy-policy.title'|translate}}</span><br>{{'tos.privacy-policy.text'|translate}}</p>

          <p><span class="bold">{{'tos.changes.title'|translate}}</span><br>{{'tos.changes.text'|translate}}</p>

          <p><span class="bold">{{'tos.who-may-use.title'|translate}}</span>
          <br><span class="underline">{{'tos.who-may-use.eligibility.title'|translate}}</span><br>{{'tos.who-may-use.eligibility.text'|translate}}</p>
          <p><span class="underline">{{'tos.who-may-use.registration.title'|translate}}</span><br>{{'tos.who-may-use.registration.text.pt1'|translate}}</p>
          <p>{{'tos.who-may-use.registration.text.pt2'|translate}}</p>

          <p><span class="bold">{{'tos.networking.title'|translate}}</span>
          <br>{{'tos.networking.text'|translate}}</p>

          <p><span class="bold">{{'tos.payments.title'|translate}}</span>
          <br><span class="underline">{{'tos.payments.general.title'|translate}}</span><br>{{'tos.payments.general.text'|translate}}</p>
          <p><span class="underline">{{'tos.payments.changes.title'|translate}}</span><br>{{'tos.payments.changes.text'|translate}}</p>
          <p><span class="underline">{{'tos.payments.cancellation.title'|translate}}</span><br>{{'tos.payments.cancellation.text'|translate}}</p>

          <p><span class="bold">{{'tos.feedback.title'|translate}}</span>
          <br>{{'tos.feedback.text'|translate}}</p>

          <p><span class="bold">{{'tos.content-rights.title'|translate}}</span>
          <br>{{'tos.content-rights.text'|translate}}</p>

          <p><span class="bold">{{'tos.content-ownership.title'|translate}}</span>
          <br>{{'tos.content-ownership.text'|translate}}</p>

          <p><span class="underline">{{'tos.content-ownership.rights.title'|translate}}</span><br>{{'tos.content-ownership.rights.text.pt1'|translate}}</p>
          <p>{{'tos.content-ownership.rights.text.pt2'|translate}}</p>
          <p>{{'tos.content-ownership.rights.text.pt3'|translate}}</p>

          <p><span class="bold">{{'tos.communications.title'|translate}}</span>
          <br>{{'tos.communications.text.pt1'|translate}}</p>
          <p><span class="bold">{{'tos.communications.text.pt2'|translate}}</span></p>

          <p><span class="bold">{{'tos.app-rights.title'|translate}}</span>
          <br><span class="underline">{{'tos.app-rights.title.sub'|translate}}</span>
          <br>{{'tos.app-rights.text'|translate}}</p>

          <p><span class="bold">{{'tos.general-nos.title'|translate}}</span>
          <ul>{{'tos.general-nos.list.start'|translate}}
            <li>{{'tos.general-nos.list.pt1'|translate}}</li>
            <li>{{'tos.general-nos.list.pt2'|translate}}</li>
            <li>{{'tos.general-nos.list.pt3'|translate}}</li>
            <li>{{'tos.general-nos.list.pt4'|translate}}</li>
            <li>{{'tos.general-nos.list.pt5'|translate}}</li>
            <li>{{'tos.general-nos.list.pt6'|translate}}</li>
            <li>{{'tos.general-nos.list.pt7'|translate}}</li>
            <li>{{'tos.general-nos.list.pt8'|translate}}</li>
            <li>{{'tos.general-nos.list.pt9'|translate}}</li>
            <li>{{'tos.general-nos.list.pt10'|translate}}</li>
            <li>{{'tos.general-nos.list.pt11'|translate}}</li>
            <li>{{'tos.general-nos.list.pt12'|translate}}</li>
            <li>{{'tos.general-nos.list.pt13'|translate}}</li>
            <li>{{'tos.general-nos.list.pt14'|translate}}</li>
            <li>{{'tos.general-nos.list.pt15'|translate}}</li>
            <li>{{'tos.general-nos.list.pt16'|translate}}</li>
          {{'tos.general-nos.list.end'|translate}}</ul>
          </p>

          <p><span class="bold">{{'tos.links.title'|translate}}</span>
          <br>{{'tos.links.text'|translate}}</p>
          
          <p><span class="bold">{{'tos.termination.title'|translate}}</span>
          <br>{{'tos.termination.text'|translate}}</p>

          <p><span class="bold">{{'tos.warranty.title'|translate}}</span>
          <br>{{'tos.warranty.text'|translate}}</p>

          <p><span class="bold">{{'tos.indemnity.title'|translate}}</span>
          <br>{{'tos.indemnity.text'|translate}}</p>

          <p><span class="bold">{{'tos.limitation.title'|translate}}</span>
          <br>{{'tos.limitation.text.pt1'|translate}}</p>
          <p>{{'tos.limitation.text.pt2'|translate}}</p>
          <p>{{'tos.limitation.text.pt3'|translate}}</p>

          <p><span class="bold">{{'tos.dispute.title'|translate}}</span>
          <br><span class="underline">{{'tos.dispute.governing.title'|translate}}</span><br>{{'tos.dispute.governing.text'|translate}}</p>
          <p><span class="underline">{{'tos.dispute.arbitrate-agree.title'|translate}}</span><br>{{'tos.dispute.arbitrate-agree.text'|translate}}</p>
          <p><span class="underline">{{'tos.dispute.arbitrate-rules.title'|translate}}</span><br>{{'tos.dispute.arbitrate-rules.text'|translate}}</p>
          <p><span class="underline">{{'tos.dispute.arbitrate-process.title'|translate}}</span><br>{{'tos.dispute.arbitrate-process.text'|translate}}</p>
          <p><span class="underline">{{'tos.dispute.arbitrate-location.title'|translate}}</span><br>{{'tos.dispute.arbitrate-location.text'|translate}}</p>
          <p><span class="underline">{{'tos.dispute.arbitrate-decision.title'|translate}}</span><br>{{'tos.dispute.arbitrate-decision.text'|translate}}</p>
          <p><span class="underline">{{'tos.dispute.arbitrate-fees.title'|translate}}</span><br>{{'tos.dispute.arbitrate-fees.text'|translate}}</p>
          <p><span class="underline">{{'tos.dispute.arbitrate-changes.title'|translate}}</span><br>{{'tos.dispute.arbitrate-changes.text'|translate}}</p>

          <p><span class="bold">{{'tos.general-terms.title'|translate}}</span>
          <br>{{'tos.general-terms.text.pt1'|translate}}</p>
          <p>{{'tos.general-terms.text.pt2'|translate}}</p>
          <p>{{'tos.general-terms.text.pt3'|translate}}</p>

          <p><span class="bold">{{'tos.contact.title'|translate}}</span>
          <br>{{'tos.contact.text'|translate}}</p>
        </div>
      </div>
    </section>
  </div>
</div><!-- //User Agreement Modal -->
