files:
  "/tmp/45_nginx_https_rw.sh":
    owner: root
    group: root
    mode: "000644"
    content: |
      #! /bin/bash

      CONFIGURED=`grep -c "return 301 https" /etc/nginx/conf.d/webapp_healthd.conf`
      sed -i '/server_name _ localhost;/c\  server_name hirepool.io localhost;' /etc/nginx/conf.d/webapp_healthd.conf

      if [ $CONFIGURED = 0 ]
        then
          sed -i '1 i\server{\n  listen 80;\n  server_name www.hirepool.io;\n  port_in_redirect off;\n  return 301 https://hirepool.io$request_uri;\n}\n' /etc/nginx/conf.d/webapp_healthd.conf
          logger -t nginx_rw "https rewrite rules added"
        else
          logger -t nginx_rw "https rewrite rules already set"
      fi

      APP_SLASH_CONFIGURED=`grep -c "rewrite app$ app/ permanent;" /etc/nginx/conf.d/webapp_healthd.conf`

      if [ $APP_SLASH_CONFIGURED = 0]
        then
          sed -i '/location \/ {/ a\'$'\n''\    rewrite app$ app\/ permanent;'$'\n' /etc/nginx/conf.d/webapp_healthd.conf
          logger -t nginx_rw "app/ rewrite rule added"
        else
          logger -t nginx_rw "app/ rewrite rule already set"
      fi

      exit 0

container_commands:
  00_appdeploy_rewrite_hook:
    command: cp -v /tmp/45_nginx_https_rw.sh /opt/elasticbeanstalk/hooks/appdeploy/enact
  01_configdeploy_rewrite_hook:
    command: cp -v /tmp/45_nginx_https_rw.sh /opt/elasticbeanstalk/hooks/configdeploy/enact
  02_rewrite_hook_perms:
    command: chmod 755 /opt/elasticbeanstalk/hooks/appdeploy/enact/45_nginx_https_rw.sh /opt/elasticbeanstalk/hooks/configdeploy/enact/45_nginx_https_rw.sh
  03_rewrite_hook_ownership:
    command: chown root:users /opt/elasticbeanstalk/hooks/appdeploy/enact/45_nginx_https_rw.sh /opt/elasticbeanstalk/hooks/configdeploy/enact/45_nginx_https_rw.sh