option_settings:
  - option_name: SECRET_KEY_BASE
    value: add_secret_keys
  - option_name: CLEARBIT_API_KEY
    value: add_secret_keys
  - option_name: FACEBOOK_APP_ID
    value: add_secret_keys
  - option_name: FACEBOOK_APP_SECRET
    value: add_secret_keys
  - option_name: GITHUB_KEY
    value: add_secret_keys
  - option_name: GITHUB_SECRET
    value: add_secret_keys
  - option_name: GOOGLE_CLIENT_ID
    value: add_secret_keys
  - option_name: GOOGLE_CLIENT_SECRET
    value: add_secret_keys
  - option_name: LINKEDIN_CLIENT_ID
    value: add_secret_keys
  - option_name: LINKEDIN_CLIENT_SECRET
    value: add_secret_keys
  - option_name: TWITTER_API_KEY
    value: add_secret_keys
  - option_name: TWITTER_API_SECRET
    value: add_secret_keys
  - option_name: SMTP_USER_NAME
    value: add_secret_keys
  - option_name: SMTP_PASSWORD
    value: add_secret_keys
  - option_name: AWS_ACCESS_KEY_ID
    value: add_secret_keys
  - option_name: AWS_SECRET_ACCESS_KEY
    value: add_secret_keys
  - option_name: GLASSDOOR_API_ID
    value: add_secret_keys
  - option_name: GLASSDOOR_API_KEY
    value: add_secret_keys
