<div class="thankyou text-center">
  <div class="starry-nar">
    <img src="images/nar.svg" alt="narwhal">
    <img class="star-2" src="images/star.svg" alt="star">
    <img class="star-2" src="images/star.svg" alt="star">
    <img class="star-3" src="images/star.svg" alt="star">
    <img class="star-4" src="images/star.svg" alt="star">
    <img class="star-5" src="images/star.svg" alt="star">
    <img class="star-6" src="images/star.svg" alt="star">
    <img class="star-7" src="images/star.svg" alt="star">
    <img class="star-8" src="images/star.svg" alt="star">
    <img class="star-9" src="images/star.svg" alt="star">
    <img class="star-10" src="images/star.svg" alt="star">
    <img class="star-11" src="images/star.svg" alt="star">
  </div>

  <h2 class='text-center'>{{'collaborator-complete.thank-you'|translate}}</h2>
  <h6>{{'collaborator-complete.helping-people'|translate}}</h6>
  <a href="http://www.facebook.com/sharer/sharer.php?u=https://hirepool.io&title=hirepool" target="_blank">
  <button class="button social fb">
    <i class="fa fa-facebook"></i>
    <span>{{'collaborator-complete.facebook-share'|translate}}</span>
  </button></a>

  <a href="https://twitter.com/intent/tweet?url=https://hirepool.io&hashtags=career,job,interview&text={{'collaborator-complete.twitter-blurb'|translate}};" target="_blank">
  <button class="button social tw">
    <i class="fa fa-twitter"></i>
    <span>{{'collaborator-complete.twitter-share'|translate}}</span>
  </button></a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

  <a href="https://www.linkedin.com/shareArticle?mini=true&summary={{'collaborator-complete.linkedin-blurb'|translate}}&title=hirepool&url=https://hirepool.io" target="_blank">
  <button class="button social in">
    <i class="fa fa-linkedin"></i>
    <span>{{'collaborator-complete.linkedin-share'|translate}}</span>
  </button></a>

  <h6>Interested in more info on hirepool?<br/>Check us out at <a href="https://hirepool.io">hirepool.io</a>.</h6>

</div>