<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @name %>!</p>
    <p>We just got a request to resend your email confirmation link for hirepool. But your account is already confirmed!</p>
    <p>Come back and log in to <a href="<%= @url %>">hirepool</a>.</p>
    <p>If you have any questions, email us at support@hirepool.io</p>
    <p>Thanks!</p>
    <p>- Nari and the hirepool team</p>
  </body>
</html>
