<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @collaborator.name %>,</p>
    <p>
      <%= @user.name %> wanted to let you know that they've accepted an offer! Thanks for your help in making that decision easier.
    </p>
  </body>
</html>