<label for="{{uniqueId}}-rating">{{ratingLabel}}</label>
<div class="rating">
  <input type="radio" name="{{uniqueId}}-rating" id="{{uniqueId}}-rating-10" value="10" ng-model="rating" ng-change="triggerEvent()">
  <label for="{{uniqueId}}-rating-10">10</label>
  <input type="radio" name="{{uniqueId}}-rating" id="{{uniqueId}}-rating-9" value="9" ng-model="rating" ng-change="triggerEvent()">
  <label for="{{uniqueId}}-rating-9">9</label>
  <input type="radio" name="{{uniqueId}}-rating" id="{{uniqueId}}-rating-8" value="8" ng-model="rating" ng-change="triggerEvent()">
  <label for="{{uniqueId}}-rating-8">8</label>
  <input type="radio" name="{{uniqueId}}-rating" id="{{uniqueId}}-rating-7" value="7" ng-model="rating" ng-change="triggerEvent()">
  <label for="{{uniqueId}}-rating-7">7</label>
  <input type="radio" name="{{uniqueId}}-rating" id="{{uniqueId}}-rating-6" value="6" ng-model="rating" ng-change="triggerEvent()">
  <label for="{{uniqueId}}-rating-6">6</label>
  <input type="radio" name="{{uniqueId}}-rating" id="{{uniqueId}}-rating-5" value="5" ng-model="rating" ng-change="triggerEvent()">
  <label for="{{uniqueId}}-rating-5">5</label>
  <input type="radio" name="{{uniqueId}}-rating" id="{{uniqueId}}-rating-4" value="4" ng-model="rating" ng-change="triggerEvent()">
  <label for="{{uniqueId}}-rating-4">4</label>
  <input type="radio" name="{{uniqueId}}-rating" id="{{uniqueId}}-rating-3" value="3" ng-model="rating" ng-change="triggerEvent()">
  <label for="{{uniqueId}}-rating-3">3</label>
  <input type="radio" name="{{uniqueId}}-rating" id="{{uniqueId}}-rating-2" value="2" ng-model="rating" ng-change="triggerEvent()">
  <label for="{{uniqueId}}-rating-2">2</label>
  <input type="radio" name="{{uniqueId}}-rating" id="{{uniqueId}}-rating-1" value="1" ng-model="rating" ng-change="triggerEvent()">
  <label for="{{uniqueId}}-rating-1">1</label>
  <span class="chart-label float-left">{{leftLabel}}</span>
  <span class="chart-label float-right">{{rightLabel}}</span>
</div>
