.help-library{
  .help-item{
    cursor: pointer;
    margin-bottom: 3.6em;
    font-size: 1em;
    padding: 3.6em;
    p:last-of-type{
      margin-bottom: 0;
    }
    &:focus{
      outline: none;
    }
    &:hover{
      background-color: darken($cloud-blue, 1%);
      border-color: darken($border-color, 10%);
    }
  }
}
