<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @collaborator.name %>,</p>
    <p><%= @user.name %> is currently using hirepool to manage their job search, and would appreciate you sharing your opinion on a specific job opportunity. Will you help out?</p>
    <p>Share your insight <a href="<%= @generated_url %>">here</a>.</p>
  </body>
</html>