<div ng-controller="UserForgotPasswordCtrl">
  <form name="forgotPasswordForm" ng-submit="submitForgotPassword(password)" role="form" novalidate>
    <div class="row login">
      <div class="medium-6 medium-centered columns">
        <img class="mascot" src="images/nar.svg" alt="narwhal">
        <img class="logo" src="images/logo.svg" alt="hirepool logo">
        <div class="ac-form" ng-class="{error: email_invalid || email_req}">
          <input ng-change="hasClientValidationErrors()" ng-model-options="{debounce: 250}" type="text" placeholder="{{'forgot-password.email-placeholder'|translate}}" name="email" autocapitalize="off" id="email" ng-model="password.email" required focus-if/>
          <i class="fa fa-envelope"></i>
          <span ng-show="email_invalid" class='error-message'>{{'forgot-password.error.invalid-email'|translate}}</span>
          <span ng-show="email_req" class='error-message'>{{'forgot-password.error.no-email'|translate}}</span>
        </div>
        <button type="submit" ng-hide="changedSuccessfully || tryingToSave" class="button large expanded">{{'forgot-password.reset-password'|translate}}</button>
        <button type="submit" ng-show="tryingToSave" class="button large expanded" disabled>{{'forgot-password.trying_to_submit'|translate}}</button>
        <button type="submit" ng-show="changedSuccessfully" class="button large expanded"><i class="fa fa-check"></i></button>
        <a class="button hollow expanded" href="#/sign_in">{{'forgot-password.sign-in'|translate}}</a>
        <a class="button hollow expanded" href="#/sign_up">{{'forgot-password.create-account'|translate}}</a>
      </div>
    </div>
  </form>
</div>