<div ng-controller="UserResetPasswordCtrl">
  <form name="resetPasswordForm" ng-submit="submitResetPassword(password)" role="form" novalidate>
    <div class="row login">
      <div class="medium-6 medium-centered columns">
        <img class="mascot" src="images/nar.svg" alt="narwhal">
        <img class="logo" src="images/logo.svg" alt="hirepool logo">
        <div class="ac-form password-field" ng-class="{error: hasPwErrors() || equals_current_pass || other_error}">
          <input ng-change="hasPwErrors()" ng-model-options="{debounce: 250}" type="password" placeholder="{{'reset-password.new-password-placeholder'|translate}}" name="pw" id="pw" ng-model="password.password" required/>
          <i class="fa fa-envelope"></i>
          <span ng-show="other_error" class="error-message">Error saving password</span>
          <span ng-show="equals_current_pass" class="error-message">New password must be different from current passsword</span>
          <span class="error-message error-ok">Your password must contain <span ng-class="{'pw-good': passwordErrors.pwIsLongEnough && passwordErrors.showPwError, 'pw-bad': !passwordErrors.pwIsLongEnough && passwordErrors.showPwError }">at least 8 characters</span>, one of which being <span ng-class="{'pw-good': passwordErrors.pwHasLowercase && passwordErrors.showPwError, 'pw-bad': !passwordErrors.pwHasLowercase && passwordErrors.showPwError }">a lower case letter</span>, one <span ng-class="{'pw-good': passwordErrors.pwHasUppercase && passwordErrors.showPwError, 'pw-bad': !passwordErrors.pwHasUppercase && passwordErrors.showPwError }">an upper case letter</span>, and one <span ng-class="{'pw-good': passwordErrors.pwHasDigit && passwordErrors.showPwError, 'pw-bad': !passwordErrors.pwHasDigit && passwordErrors.showPwError }">a digit (0-9)</span>.</span>
        </div>

        <button type="submit" ng-hide="changedSuccessfully || tryingToSubmit" class='button large expanded'>{{'reset-password.change-password'|translate}}</button>
        <button type="submit" ng-show="tryingToSubmit" class='button large expanded' disabled>{{'reset-password.trying_to_submit'|translate}}</button>
        <button type="submit" ng-show="changedSuccessfully" class="button large expanded"><i class="fa fa-check"></i></button>
      </div>
    </div>
  </form>
</div>
