<header class="event-header">
  <div class="utils">
    <span class="rating" ng-hide="vm.needsFeedback() || vm.getRating() === '-'">{{'interview.rating'|translate}} <strong>{{vm.getRating()}}</strong></span>
    <button class="feedback" ng-show="vm.needsFeedback()"><i class="fa fa-bullhorn"></i>{{'event.needs_feedback'|translate}}</button>
    <button class="edit" data-modal-trigger data-modal="add-event-and-opportunity-fodal" ng-click="vm.openAccordionModal($event)" hp-event-recorder="{action: 'open-modal', modal: 'edit-event', page: 'opportunity-details', interviews: [{{vm.data.event.interview_id}}]}"><i class="fa fa-pencil"></i>{{'event.edit'|translate}}</button>
    <button class="event-notes" data-modal-trigger data-modal="event-notes-modal" ng-click="vm.openAccordionModal($event)" hp-event-recorder="{action: 'open-modal', modal: 'event-notes', page: 'opportunity-details', interviews: [{{vm.data.event.interview_id}}]}"><i class="fa fa-sticky-note"></i>Event Notes</button>
    <button class="delete" data-modal-trigger data-modal="remove-event-modal" ng-click="vm.openAccordionModal($event)" hp-event-recorder="{action: 'open-modal', modal: 'remove-event', page: 'opportunity-details', interviews: [{{vm.data.event.interview_id}}]}"><i class="fa fa-trash-o"></i>{{'interview.remove'|translate}}</button>
  </div>
  <div class="event-title">
    <strong class="date">
      <span class="day">{{vm.getDay()}}</span>
      <span class="mo">{{vm.getMonth()}}</span>
    </strong>
    <h5>{{vm.getEventStyleHeading(vm.data.event)}}</h5>
  </div>
  <div class="details">
    <p><span class="activity-label">{{'event.poc'|translate}}:</span> {{vm.getPocName()}} <span ng-show="vm.getPocRelationship()">({{vm.getPocRelationship()}})</span></p>
    <p ng-show="vm.getPocEmail()"><span class="activity-label">{{'event.email'|translate}}:</span> <a href="mailto:{{vm.getPocEmail()}}">{{vm.getPocEmail()}}</a></p>
  </div>
</header>
<div class="interactions-container events-container" ng-if="vm.showEventDetails()">
  <ul class="accordion activity-feed event-accordion needs-foundation-init" data-accordion data-allow-all-closed="true">
    <li class="accordion-item" data-accordion-item>

      <a class="accordion-title">
        <div class="interaction-title event-title">
          <h5 ng-show="vm.eventIsInPast()">Event and <span ng-show="vm.data.event.interviewers.length > 1">Participants</span><span ng-show="vm.data.event.interviewers.length < 2">POC</span> Feedback</h5>
          <h5 ng-show="!vm.eventIsInPast()"><span ng-show="vm.data.event.interviewers.length > 1">Participants</span><span ng-show="vm.data.event.interviewers.length < 2">POC</span></h5>
        </div>
        <div class="utils event-utils">
          <span class="participants" ng-show="vm.data.event.interviewers.length > 1">{{vm.data.event.interviewers.length}} {{'interaction.participants'|translate}}</span>
          <button class="modal-state"><i class="fa accordion-chevron"></i>&nbsp;</button>
        </div>
      </a><!-- //accordion-title -->
      <div class="accordion-content" data-tab-content>

        <div class="row">
          <div class="columns medium-12">
            <h5 class="interaction-feedback-title" ng-show=vm.eventIsInPast()>Event Feedback</h5>
            <form name="addFeedbackForm" role="form" class="ac-form" novalidate ng-show=vm.eventIsInPast()>
              <div class="ac-form">
                <label for="one_word">{{'interview.one_word.label'|translate}}</label>
                <input class="input-sm" ng-model="vm.data.event.one_word" type="text" placeholder="{{'interview.one_word.placeholder'|translate}}" name="one_word" ng-change="vm.feedbackChanged()"/>
              </div>
              <div class="ac-form">
                <color-ratings
                  rating-label="{{'interview.cultural-rating.rating-label'|translate}}"
                  left-label="{{'interview.cultural-rating.rating-left-label'|translate}}"
                  right-label="{{'interview.cultural-rating.rating-right-label'|translate}}"
                  unique-id="culture-{{vm.data.event.id}}"
                  rating="vm.data.event.culture_val">
                </color-ratings>
              </div>
            </form>
            <fieldset>
              <legend>{{'interaction.participants'|translate}}</legend>

              <div class="participant-container" ng-repeat="participant in vm.data.event.interviewers">
                <header class="participant-header">
      <!--
                  <div class="utils">
                    <button class="delete" data-modal-trigger data-modal="remove-participant-modal" ng-click="vm.openRemoveParticipantModal($event, participant)"><i class="fa fa-trash-o"></i>{{'interview.remove'|translate}}</button>
                  </div>
       -->
                  <div class="participant-title">
                    <h5>{{$index + 1}}. {{participant.interviewer.name}}<span ng-show="participant.is_poc"> (POC)</span></h5>
                  </div>
                </header>
                <div class="row" data-tab-content>
                  <div class="columns medium-12">
                    <p><span class="activity-label">{{'participant.email'|translate}}:</span> {{participant.interviewer.email}}</p>
                    <p><span class="activity-label">{{'participant.relationship'|translate}}:</span> {{participant.interviewer.relationship}}</p>
                    <form name="addFeedbackForm" role="form" class="ac-form" novalidate ng-show="vm.eventIsInPast()">
                      <div class="ac-form">
                        <color-ratings
                          rating-label="How excited are you to work with {{participant.interviewer.name}}?"
                          left-label="{{'interview.excitement-rating.rating-left-label'|translate}}"
                          right-label="{{'interview.excitement-rating.rating-right-label'|translate}}"
                          unique-id="excited-{{participant.id}}"
                          rating="participant.excited">
                        </color-ratings>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
      <!--
              <button class="button hollow tiny" data-modal-trigger data-modal="add-event-and-opportunity-fodal" ng-click="vm.openAccordionModal($event)">{{'interaction.add_participant'|translate}}</button>
       -->
            </fieldset>
          </div>
        </div>
      </div><!-- //accordion-content -->

    </li>
  </ul>
<!--
  <button class="button hollow tiny add-interaction-button" data-modal-trigger data-modal="add-event-and-opportunity-fodal" ng-click="vm.openAccordionModal($event)">{{'event.add_interaction'|translate}}</button>
 -->
</div>
<div class="interactions-container" ng-show="vm.showInteractionDetails()">
  <ul class="accordion activity-feed interactions-accordion needs-foundation-init" data-accordion data-allow-all-closed="true">
    <li class="accordion-item" ng-repeat="interaction in vm.data.event.interactions" data-accordion-item ng-controller="OpportunityDetailsInteractionCtrl as vm" ng-include="'views/opportunity_details/interaction.html'"></li>
  </ul>
<!--
  <button class="button hollow tiny add-interaction-button" data-modal-trigger data-modal="add-event-and-opportunity-fodal" ng-click="vm.openAccordionModal($event)">{{'event.add_interaction'|translate}}</button>
 -->
</div>
<button class="button save-event-button" ng-show="vm.view.addingFeedback" ng-click="vm.saveEvent()">{{'event.save'|translate}}</button>

<script type="text/javascript">
  window.setTimeout(function () {
    var elems = jQuery('.accordion.needs-foundation-init');
    if (elems.length > 0) {
      elems.foundation();
      elems.foundation('_init');
      elems.removeClass('needs-foundation-init');
    }
//    tried this but it didn't work:
//    $(document).foundation('accordion', 'reflow');
  }, 100);
</script>
