<div class="help-library content-page" ng-controller="HelpLibraryCtrl as vm">
  <h1>Hirepool Help Library</h1>
  <section class="help-item notification-box" ng-click="vm.goToArticle('faq')">
    <h2>FAQ</h2>
    <p>Check out the most common questions users have about hirepool.</p>
  </section>
  <section class="help-item notification-box" ng-click="vm.goToArticle('welcome_video')">
    <h2>Welcome Video</h2>
    <p>Review the hirepool welcome video.</p>
  </section>
  <section class="help-item notification-box" ng-click="vm.goToArticle('adding_events')">
    <h2>Adding Events</h2>
    <p>Find out more about events in hirepool.</p>
  </section>
  <section class="help-item notification-box" ng-click="vm.goToArticle('collaborators')">
    <h2>Collaborators</h2>
    <p>What do your collaborators see when you invite them to help with your job search?</p>
  </section>
  <section class="help-item notification-box" ng-click="vm.goToArticle('csv_upload')">
    <h2>CSV Upload</h2>
    <p>How do you import a list of opportunities from another service?</p>
  </section>
  <section class="help-item notification-box" ng-click="vm.goToArticle('adding_opportunities')">
    <h2>Adding Opportunities</h2>
    <p>As you go through your job search and find opportunities, how do you add them to your hirepool dashboard?</p>
  </section>
  <section class="help-item notification-box" ng-click="vm.goToArticle('archiving_opportunities')">
    <h2>Archiving Opportunities</h2>
    <p>What do you do with an opportunity when you're done with it?</p>
  </section>
  <section class="help-item notification-box" ng-click="vm.goToArticle('opportunity_ratings')">
    <h2>Opportunity Ratings</h2>
    <p>Where did the rating for this opportunity come from?</p>
  </section>
  <section class="help-item notification-box" ng-click="vm.goToArticle('downloading_data')">
    <h2>Downloading Data</h2>
    <p>How can I take my data with me?</p>
  </section>
</div>
