<div class="content-page" ng-controller="HelpLibraryPageCtrl as vm">
  <h1><a href="#/help_library">Hirepool Help Library</a></h1>
  <h2>Adding Opportunities</h2>
  <p>An opportunity in hirepool is anything that you are pursuing as a job. You'll store opportunities in hirepool when you find them on company job sites, big job boards like Monster and Indeed, or when you generate them by networking.</p>
  <p>There are a few different ways to add opportunities in hirepool. You can add them with the Add New button in the header, via <a href="#/help_library/csv_upload">CSV upload</a>, or by using the <a href="https://chrome.google.com/webstore/detail/hirepool/lkjednocgkigbmobchclobdpolpmgcha" target="_blank">hirepool chrome extension</a>.</p>
  <p>Here's a video on using the hirepool chrome extension to store opportunities in your hirepool dashboard:</p>
  <div class="video-container">
    <iframe id="help_library_chrome_extension_video_iframe" width="630" height="394" src="https://www.useloom.com/embed/c05c1c5306a646c6946100ed1a40b85d" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
  <p>Download the hirepool chrome extension <a href="https://chrome.google.com/webstore/detail/hirepool/lkjednocgkigbmobchclobdpolpmgcha" target="_blank">in the chrome store</a>.</p>
  <p>For more info on adding opportunities in bulk via CSV upload check out our <a href="#/help_library/csv_upload">Help Library article on it</a>.
</div>
