<div class="content-page" ng-controller="HelpLibraryPageCtrl as vm">
  <h1><a href="#/help_library">Hirepool Help Library</a></h1>
  <h2>Adding Events</h2>
  <p>An event is any interaction between you and another person. Hirepool helps you track every event whether it’s more casual like an informational meeting, or more formal like a phone interview or final round interview.</p>
  <p>Hirepool is committed to delivering personalized value to each job seeker. By tracking your events you initiate automated interview preparation and complimentary job search support that can only be provided in response to specific events you are tracking.</p>
  <p>We recorded a short demo showing how to add events in hirepool:</p>
  <div class="video-container">
    <iframe id="help_library_adding_events_video_v2_iframe" width="630" height="394" src="https://www.useloom.com/embed/8ca1549d16b340dbada02aacd8d78a8c" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>
