<div class="content-page" ng-controller="HelpLibraryPageCtrl as vm">
  <h1><a href="#/help_library">Hirepool Help Library</a></h1>
  <h2>Archiving Opportunities</h2>
  <p>What happens in hirepool when you're done with opportunities? You archive them! Watch this video to learn more about archiving opportunities.</p>
  <div class="video-container">
    <iframe id="help_library_archiving_opportunities_video_iframe" width="630" height="394" src="https://www.useloom.com/embed/b11d166f8ab04708bfaab23c0f1fade8" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>
