<div class="collaborators content-page">
  <h1><a href="#/help_library">Hirepool Help Library</a></h1>
  <h2>Collaborator Experience</h2>
  <p>What does a collaborator see when you invite them to help with your job search and give feedback on opportunities?</p>
  <p>First they get an email from hirepool support:</p>
  <img src="images/help_library/pages/collaborators/email-in-inbox.png" id="email-in-inbox">
  <p class="image-caption">Email in the collaborator's inbox</p>
  <img src="images/help_library/pages/collaborators/full-email.png" id="full-email">
  <p class="image-caption">The full email the collaborator gets</p>
  <p>By clicking the <em>here</em> link the collaborator is taken to a view in hirepool where they can give feedback on your opportunity:</p>
  <img src="images/help_library/pages/collaborators/collaborator-feedback.png" id="collaborator-feedback">
  <p class="image-caption">The collaborator feedback page</p>
  <p>This page doesn't require the collaborator to signup, login, or have a hirepool account in any way. It is a single use authentication page that can only be accessed via the url sent in the collaborator email.</p>
  <p>And that's it! That's how we collect collaborator feedback in hirepool. After your collaborator submits feedback we'll send you an email to let you know.</p>
</div>
