<div class="content-page" ng-controller="HelpLibraryPageCtrl as vm">
  <h1><a href="#/help_library">Hirepool Help Library</a></h1>
  <h2>CSV Upload</h2>
  <p>There are a lot of different ways to organize your job search and track opportunities. You can have lists of jobs on sites like LinkedIn or Indeed. Or you can track them yourself in a spreadsheet somewhere. At hirepool, we help by organizing all of your job search content in one place. So let's import that data into hirepool!</p>
  <p>So you ask, "How do I import that data?". You upload a CSV file. You can export data from other sites or spreadsheets into CSV format an upload all of those opportunities into hirepool.</p>
  <p>Here's a short video we made to walk you through the process:</p>
  <div class="video-container">
    <iframe id="help_library_csv_upload_video_v2_iframe" width="630" height="394" src="https://www.useloom.com/embed/ec9feff0d97a487b8336037d1cc55ad2" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>
