<div class="content-page" ng-controller="HelpLibraryPageCtrl as vm">
  <h1><a href="#/help_library">Hirepool Help Library</a></h1>
  <h2>Downloading Data</h2>
  <p>We make sure you can access your hirepool data at any time to take it with you.</p>
  <p>Find the download options in your user profile by clicking the small person icon from the hirepool menu. Once in your user profile there is a button labeled "Export My Data".</p>
  <p>You'll find options there to export all the data you've entered into hirepool:</p>
  <ul>
    <li>Opportunities: The job opportunities you enter into hirepool.</li>
    <li>Events: The interviews you enter for each opportunity.</li>
    <li>Interactions: The sections of interviews if you track multi-part interviews (like an on-site interview where you have a whiteboarding session, a behavioral interview, and lunch with the team).</li>
    <li>Collaborations: The feedback shared by friends from your network if you used the Collaborators feature for an opportunity.</li>
    <li>Interviewers: Details about the interviewers you track for Events and Interactions.</li>
    <li>Resumes: Any resumes you've uploaded to hirepool.</li>
  </ul>
  <div class="video-container">
    <iframe id="help_library_downloading_data_iframe" width="630" height="394" src="https://www.useloom.com/embed/e4a44bc7203542e59d86da23ef8b30bc" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>
