<div class="content-page" ng-controller="HelpLibraryPageCtrl as vm">
  <div>
    <h1><a href="#/help_library">Hirepool Help Library</a></h1>
    <h2>Networking Events</h2>
    <p>Networking is important. We recorded a short demo showing how to add networking events in hirepool.</p>
    <p>Here's part 1: Recording "Networking Events" in hirepool - Setup:</p>
    <div class="video-container">
      <iframe id="help_library_networking_events_1_video_iframe" width="630" height="394" src="https://www.useloom.com/embed/16e57fd7f0c344bb8e11e50e04863863" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <p>Here's part 2: Adding a new "Networking Event" in hirepool - Tracking your activity as you go:</p>
    <div class="video-container">
      <iframe id="help_library_networking_events_2_video_iframe" width="630" height="394" src="https://www.useloom.com/embed/cddf083cafa542808c9a1c14374fa3fb" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
</div>
