<div class="content-page" ng-controller="HelpLibraryPageCtrl as vm">
  <h1><a href="#/help_library">Hirepool Help Library</a></h1>
  <h2>Opportunity Ratings</h2>
  <p>What on earth are these numbers in the corner of my opportunity cards? It says "rating" there. I never rated this opportunity! You know what? You're right. But you're also wrong. You did rate it! All your feedback (and your collaborators' feedback) is taken into account. Check out this video where we explain the process:</p>
  <div class="video-container">
    <iframe id="help_library_opportunity_ratings_video_iframe" width="630" height="394" src="https://www.useloom.com/embed/8a28c1c13b33418aa8b3206f6ddec175" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>
