<div class="content-page" ng-controller="HelpLibraryPageCtrl as vm">
  <h1><a href="#/help_library">Hirepool Help Library</a></h1>
  <h2>Welcome Video</h2>
  <p>Here's a quick overview of hirepool:</p>
  <div class="video-container">
    <iframe id="welcome_video_iframe_v2" width="630" height="394" src="https://www.useloom.com/embed/a9e2532e681a454d85b36a733cf1918e" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
  <p>Thanks for joining hirepool! The job search can be a stressful and frustrating process. Hirepool is 100% designed for the job seeker and dedicated to improving the job seeker experience one interview at a time.</p>
  <p>How does hirepool work?</p>
  <ul>
    <li>Keep all of your job search in one place.</li>
    <li>Receive tailored interview preparation and feedback.</li>
    <li>Get personalized guidance throughout the offer process.</li>
  </ul>
</div>
